<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <h2>Cerveza</h2>
       <div class="col-md-4">
           <%= image_tag "IMG_1139.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Cerveza Becker</h4>
           <h4>Pack $2.800 - c/u $500</h4>
       </div>
       <div class="col-md-4">
           <%= image_tag "IMG_1140.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Cerveza Heineken 1Lt</h4>
           <h4>$1.600</h4>
       </div>

     </div>
  </body>
</html>
