<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <section class="contenido wrapper">
    <div class="container">
      <h2>Cigarros</h2>
       <div class="col-md-6">
           <%= image_tag "IMG_1154.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
        <div class="col-md-3">
           <h4>Encendedor Brinko</h4>
           <h4>$300</h4>
       </div>
     </div>

       <div class="col-md-3">
           <%= image_tag "IMG_1155.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
        <div class="col-md-6">
           <h4>Papel OCB organico 50 uni.</h4>
           <h4>$700</h4>
       </div>
     </div>

       </div>
     </section>
  </body>
</html>
