<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <section>
      <p>
        <strong>WhatsApp</strong>
      </p>
      <p>+56961032478
      </p>
      <p>
        <strong>Correo Electronico</strong>
      </p>
      <p>inzunzarcespa@gmail.com
      </p>
      <p>
        <strong>Direccion</strong>
      </p>
      <p>José Joaquín Prieto Vial 4508-b, San Miguel
      </p>
    </section>
  </body>
</html>
