<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style src="estilo.css" type="text/css">
    </style>
    <script type="text/javascript" src="slider.js"></script>
  </head>
  <body>
    <section>
     <h1>Bienvenidos a Botilleria Roots</h1>
     <p>Nuestra Botilleria esta en una inmejorable ubicacion en San Miguel los mejores porductos a los mejores precio, ademas contamos con servicio de delivery dias Viernes, Sabado y Festivos.</p>
    </section>
  </div>
  </body>
</html>
