body{
  font: 400 20px 'Droid Sans', sans-serif;
  line-height: 1.5em;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.img-responsive{
 display: block;
 width: 300px;
 height: 395px;
}
.contenido {
  padding-top: 90px;
}
nav {
  float: left; /* Desplazamos el nav hacia la izquierda */
}

nav ul {
  list-style: none;
  overflow: hidden; /* Limpiamos errores de float */
}

nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

nav ul li a {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 20px;
  color: #fff;
  text-decoration: none;}

nav ul li:hover {
  background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Style for the plus button when header has active classe name */
header {
  background: rgba(0,0,0,0.9);
  width: 100%;
  position: fixed;
  z-index: 100;
}

/* Other styles */

.loud{
	  text-transform: uppercase;
}
section{
  padding: 3em;
}
h1, h2{
  margin: 1em 0;
  font-size: 40px;
  line-height: 1.5em;
  text-align: center;
  color: white;
}
h4{
  margin: 1em 0;
  font-size: 25px;
  line-height: 1.5em;
  text-align: center;
  color: white;
}
p{
  text-align: center;
  margin: 1em 0;
  color: white;
}
strong{
  text-align: center;
  color: #93969c;
}
